{% extends "layout/layout.html" %}
{% block content %}
        <div class="content-section">
          <form onsubmit="this.reset()" method="post" action="">
            {{form1.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Message</legend>
                <div  class="form-group">


                    {{ form1.convo_with.label(class="form-control-label") }}

                    {{ form1.convo_with(class="form-control form-control-lg") }}

                </div>

                <hr>
                <br>

                <div style="margin-left: 0.5em;" class="form-group">
                    {{ form1.chit_point.label(class="form-control-label") }}

                    {{ form1.chit_point(class="form-control form-control-lg") }}

                </div>




                {% if eb==False %}
                <br>
                <hr>
                <div style="margin-left: 0.5em;" class="form-group">
                    {{ form1.viaeb.label(class="form-control-label") }}

                    {{ form1.viaeb(class=" form-control-lg") }}

                </div>
                {% endif %}
                <hr>
                <br>

                <div style="margin-left: 0.5em;" class="form-group">
                    {{ form1.message.label(class="form-control-label") }}

                    {% if form1.message.errors %}
                        {{ form1.message(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.message(class="form-control form-control-lg") }}
                    {% endif %}
                </div>




            </fieldset>
            <div class="form-group">
                  <input class="button button2" style="background-color: red;" type="reset" name="reset" value=Reset>
                  &emsp;&emsp;
                  {{ form1.submit(class="button button2") }}
            </div>
          </form>

        </div>

{% if eb==True %}
        <div class="content-section">

            <form method="post" action="/meet_link_update">
            <div  class="form-group">
                    <label>Meeting Link</label><br>
                    <input  style='width: 100%;' type="text" id='nw_link' name='nw_link' placeholder='&ensp;&ensp;Link' required>
                </div>
            <div class="form-group">
                <input type="submit" class="button button2" name="Update" value=" Update">
            </div></form>
        </div>
        {% endif %}



{% endblock content %}
