{% extends "layout/layout.html" %}


{% block head %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='chit.png') }}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>committee</title>



{% endblock head %}


{% block content %}

<iframe height="1000px"  id="" allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera" src="https://my.forms.app/form/60d9924b7e6c303b0f135cc2" frameborder="0" style="width: 1px; min-width:100%; min-height:100%;max-height:520px; border:none;allign:centre"></iframe>
<br><br>
{% endblock content %}
