{% extends "layout/layout.html" %}

{% block content %}
		  <h2 style="font-family: Courier">{{from_country}}</h2>
            <hr>

        <div class="content-section">
          <form method="post" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sort Messages</legend>
                <div class="form-group">
                    {{ form.convo_with.label(class="form-control-label") }}

                    {{ form.convo_with(class="form-control form-control-lg") }}
                    
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="button button2") }}
            </div>
          </form>

        </div>

{% endblock content %}
