{% extends "layout/layout.html" %} {% block content %}
<div class="content-section">
  <h3>Upcoming Genuine Prestigious MUNs</h3>
  <hr />
  <br />
  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.parent_organisation }}</a>
        <small class="text-muted">{{ post.committee_date }}</small>
      </div>
      <h4><a class="article-title" href="#">{{ post.mun_name }}</a></h4>
      <p class="article-content">{{ post.tag_line }}</p>
    </div>
  </article>

  {% endfor %}
</div>
{% endblock content %}
