{% extends "layout/layout.html" %}
{% block content %}

<div class="content-section">
    <h3>To: {{to_country}}</h3>
</div>
        <div class="content-section">
          <form method="post" action="/reply">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reply</legend>
<div style="margin-left: 0.5em;" class="form-group">
        <label class="form-control-label">Query</label>
        <select class="form-control form-control-lg" name="chits_point">
        {% for point_for_chit in point_list %}
        <option>{{point_for_chit}}</option>
        {% endfor %}
    </select><hr></div>

                {% if eb==False %}<br><hr>
                <div style="margin-left: 0.5em;" class="form-group">
                    <label>Via EB</label>&ensp;
                    <input class="form-control-lg" type="checkbox" value="Yes" name="Via_EB" id="Yes">
                </div><hr><br>
                {% endif %}

                <div style="margin-left: 0.5em;" class="form-group">
                <label style='margin-bottom: -1.5em;'>Tag:</label>
                <div class="scroll brk">
                    <p class='para_in'>{{reply_to}}</p>
                </div></div>
                <br>
                <div style="margin-left: 0.5em;" class="form-group">
                    <pre><textarea class="form-control form-control-lg" maxlength="10000" placeholder="Your Reply...." name="reply_msg" id="message" cols="28" rows="3" required></textarea></pre>
                </div><hr>


            <div style="margin-left: 0.5em;" class="form-group">
                  <input class="button button2" style="background-color: red;" type="reset" name="reset" value=Reset>
                  &emsp;&emsp;
                  <input type="hidden" value={{r_id}} name="reply">
                  &ensp;&ensp;  <button type="submit" class="button button2"  >Send</button><br>

            </div>
          </form>

        </div>




{% endblock content %}
